{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />

    {% block customcss %}{% endblock %}

  </head>

  {% block body %}
  <body>
  {% endblock %}

    {% block conteudo %}
    {% endblock %}

    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.min.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>

    {% block customjs %}{% endblock %}

    <script>
      $(document).foundation();
    </script>

  </body>
</html>
