{% extends "userapp/base_menu.html" %}
{% block titulo %}Lista de Usuarios{% endblock %}

{% block conteudo %}

      <h1>{{ Titulo }}</h1>
      <input type="button" class="button" value="Novo" onclick="javascript:location.href='/novo_usuario/';">
      <p>
      <table border="1">
        <tr>
          <td></td>
          <td>Username</td>
          <td>E-mail</td>
          <td>Nome</td>
          <td>Sobrenome</td>
          <td>Usuario Desde</td>
          <td>Ultimo Login</td>
          <td>Ativo</td>
        </tr>
        {% for usuario in Usuarios %}
        <tr>
          <td><input type="button" class="button" value="Editar" onclick="javascript:location.href='/editar_usuario/?id={{ usuario.id }}';"></td>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.first_name }}</td>
          <td>{{ usuario.last_name }}</td>
          <td>{{ usuario.date_joined }}</td>
          <td>{{ usuario.last_login }}</td>
          <td>{{ usuario.is_active }}</td>
          <td><input type="button" class="alert button" value="Excluir" onclick="javascript:location.href='/excluir_usuario/?eid={{ usuario.id }}';"></td>
        </tr>
        {% endfor %}
      </table>

{% endblock %}
