{% extends "userapp/base.html" %}
{% block title %}Cadastre-se grátis{% endblock %}

{% block customcss %}

<link href="../static/css/signin.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">

    <form class="form-signin" method="POST" action="/newuser/">
        {% csrf_token %}
        <div style="margin-bottom:25px;text-align:center;"><img src="/static/images/vendendo_logo_verde_escuro.png"></div>
        <h3>Cadastre-se grátis</h3>
        <input type="hidden" name="id" value="{{ user_account.id }}">
        <div class="form-group">
            <input type="hidden"  class="form-control" name="username" id="id_username" value="{% if form %}{{ form.username.value }}{% else %}{% if user_account %}{{ user_account.username }}{% endif %}{% endif %}">
            {% if form.username.errors %}
            {{ form.username.errors }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_email">E-mail</label>
            <input type="email" class="form-control" name="email" id="id_email" value="{% if form %}{{ form.email.value }}{% else %}{% if user_account %}{{ user_account.email }}{% endif %}{% endif %}">
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_first_name">Nome</label>
            <input type="text" class="form-control" name="first_name" id="id_first_name" value="{% if form %}{{ form.first_name.value }}{% else %}{% if user_account %}{{ user_account.first_name }}{% endif %}{% endif %}">
            {% if form.first_name.errors %}
            {{ form.first_name.errors }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_last_name">Sobrenome</label>
            <input type="text" class="form-control" name="last_name" id="id_last_name" value="{% if form %}{{ form.last_name.value }}{% else %}{% if user_account %}{{ user_account.last_name }}{% endif %}{% endif %}">
            {% if form.last_name.errors %}
            {{ form.last_name.errors }}
            {% endif %}
        </div>
        {% if not user_account.id %}
        <div class="form-group">
            <label for="id_password">Senha</label>
            <input type="password" class="form-control" name="password" id="id_password" value="{% if form %}{{ form.password.value }}{% else %}{% if user_account %}{{ user_account.password }}{% endif %}{% endif %}">
            {% if form.password.errors %}
            {{ form.password.errors }}
            {% endif %}
        </div>
        {% else %}
        <input type="hidden" class="form-control" name="password" value="{% if form %}{{ form.password.value }}{% else %}{% if user_account %}{{ user_account.password }}{% endif %}{% endif %}">
        {% endif %}
        <div class="checkbox">
          <label>
            <input type="checkbox" value=""> Li e concordo com os <a href="#">termos de uso</a>.
          </label>
        </div>
        <p class="btn-align" style="text-align:center;">
            <button type="submit" class="btn btn-success">Criar nova conta</button>
        </p>
        <p class="btn-align" style="text-align:center;">
            <input type="button" class="btn btn-danger" value="Registre-se com o Google" onclick="javascript:location.href='{% url "social:begin" "google-oauth2" %}';">
        </p>
        <p class="btn-align" style="text-align:center;">
            Já tem uma conta? <a href="/login/">Faça login aqui</a>.
        </p>
        <p class="msg-error">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">{{ error }}</a>
            </div>
            {% endif %}
        </p>

    </form>
</div>
{% endblock %}
