{% extends "userapp/base.html" %}
{% block titulo %}Login{% endblock %}

{% block customcss %}

  <link href="../static/css/signin.css" rel="stylesheet">
  <style>
    .callout {
      margin-top: 30%;
    }
  </style>

{% endblock %}

{% block conteudo %}
    <div class="container">

      <form class="form-signin">
        {% csrf_token %}
        <h3 class="form-signin-heading">{{ Titulo }}</h3>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar
          </label>
        </div>
        <p class="btn-align">
          <a href="/novo_usuario/" class="btn btn-primary">Registrar</a>
          <input type="submit" class="btn btn-primary" value="Entrar">
        </p>
      </form>

    </div>
    {% if erro %}{{ erro }}{% endif %}

{% endblock %}
