{% extends "userapp/base.html" %}
{% block title %}Entrar{% endblock %}

{% block customcss %}

  <link href="../static/css/signin.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="post" action="/">
        {% csrf_token %}
        <h3 class="form-signin-heading">{{ title }}</h3>
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar e-mail
          </label>
        </div>
        <p class="btn-align">
          <input type="submit" class="btn btn-primary" value="Entrar">
        </p>
        <p class="forgot-pwd">
           Ainda não tem uma conta? <a href="/newuser/">Registre-se aqui.</a><br>
          <a href="/resetpwd/">Esqueci minha senha</a>
        </p>
        <p class="msg-error">
        {% if error %}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">{{ error }}</a>
          </div>
        {% endif %}
        </p>
      </form>

    </div>

{% endblock %}
