{% extends "crm/basemenu.html" %}
{% block title %}Visão Geral{% endblock %}

{% block customcss %}

<link href="/static/css/dashboard.css" rel="stylesheet">

{% endblock %}

{% block content %}

{% if organization_active %}
<div class"container-fluid">
  <div class="main">
    <!-- Panel Indicators -->
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/potenciais.png"/>
              {{ customers_potential_count }}
              <H6>CLIENTES POTENCIAIS</H6>
            </div>
            <div class="panel-body">
              <div style="width:100%; height:1px; border-top: thin solid #F0F0F0;"></div>
              <div id="container_chart_potential_customers" style="height: 250px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/oportunidades.png" />
              {{ opportunities_open_count }}
              <H6>OPORTUNIDADES</H6>
            </div>
            <div class="panel-body">
                <div style="width:100%; height:1px; border-top: thin solid #F0F0F0;"></div>
                <div id="container_chart_sales_funnel" style="height: 250px; width:80%; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/clientes.png" />
              {{ customers_base_count }}
              <H6>CLIENTES DA BASE</H6>
            </div>
            <div class="panel-body">
                <div style="width:100%; height:1px; border-top: thin solid #F0F0F0;"></div>
                <div id="container_chart_segment_by_value" style="height: 250px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end row -->
    <!-- Panel Activity and Chart -->
    <section class="activities">
      <h3 class="page-header">Atividades<br><a href="{% url 'crm:activity-add' %}" id="form_btn_add" class="btn btn-primary btn-xs">Adicionar</a></h3>

      <div class="row">
        <div class="col-xs-12 col-sm-8 placeholder">
          <!-- Activity -->
          {% for my_activity in my_activities %}
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-6 placeholder">
                  <div class="icon-place">
                    {% if my_activity.type_activity == "T" %}
                    <span class="glyphicon glyphicon-phone-alt activity-icon" aria-hidden="true"></span>
                    {% elif my_activity.type_activity == "E" %}
                    <span class="glyphicon glyphicon-envelope activity-icon" aria-hidden="true"></span>
                    {% elif my_activity.type_activity == "V" %}
                    <span class="glyphicon glyphicon-briefcase activity-icon" aria-hidden="true"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-list-alt activity-icon" aria-hidden="true"></span>
                    {% endif %}

                  </div>

                  <div class="activity-text">
                    <p><a href="{% url 'crm:activity-update' my_activity.id %}">{{ my_activity.title }}</a></p>
                    <p>{{ my_activity.description }}</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 placeholder">
                  <div class="activity-controls">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span style="">{{ my_activity.deadline|date:"d/m/Y H:i" }}</span>
                    <a tabindex="{{ forloop.counter }}" style="text-decoration: none;" data-toggle="popover" role="button" data-trigger="focus" data-content="{{ my_activity.details }}">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true" style="vertical-align: middle;"></span>
                    <span style="font-family: arial; color: gray; font-size: x-small; margin-left:5px;">Detalhes</span>
                    </a>
                    {% if my_activity.is_late %}
                    <span class="label label-danger"> Atrasada</span>
                    {% else %}
                    <span class="label label-success">Pendente</span>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}

          <h5 align="right"><a href="{% url 'crm:activity-index' %}"<span class="label label-default">Ver todas</span></a></h5>
        </div>
        <!-- Oportunidades Novas -->
        <div class="col-xs-12 col-sm-4 placeholder">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-12" style="color:#2d2e2e;">
                  <strong>Novas Oportunidades</strong>
                  <div style="width:100%; height:1px; border-top: thin solid #F0F0F0;"></div>
                </div>
                <div class="col-xs-12 col-sm-12 panel-count-md" style="color:#4ca5ff;">
                  R$ {{ new_deals }}
                </div>
                <div class="col-xs-12 col-sm-12" style="color:silver; font-size:x-small; font-style:italic; text-align:right; line-height: 1px;">
                  (Deste Mês)
                </div>
              </div>
            </div>
          </div>
          <!-- Oportunidades Perdidas -->
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-12">
                  <strong>Oportunidades Perdidas</strong>
                  <div style="width:100%; height:1px; border-top: thin solid #F0F0F0;"></div>
                </div>
                <div class="col-xs-12 col-sm-12 panel-count-md" style="color:#d9534f;">
                  R$ {{ lost_deals }}
                </div>
                <div class="col-xs-12 col-sm-12" style="color:silver; font-size:x-small; font-style:italic; text-align:right; line-height: 1px;">
                  (Deste Mês)
                </div>
              </div>
            </div>
          </div>
          <!-- Oportunidades Ganhas -->
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-12">
                  <strong>Oportunidades Ganhas</strong>
                  <div style="width:100%; height:1px; border-top: thin solid #F0F0F0;"></div>
                </div>
                <div class="col-xs-12 col-sm-12 panel-count-md" style="color:#43cb83;">
                  R$ {{ won_deals }}
                </div>
                <div class="col-xs-12 col-sm-12" style="color:silver; font-size:x-small; font-style:italic; text-align:right; line-height: 1px;">
                  (Deste Mês)
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- end row -->
    </section>
  </div> <!-- end main -->
</div> <!-- and container -->

{% else %}

{% include 'crm/initialpage.html' %}

{% endif %}

<footer class="footer">
  <div class="row">
  </div>
</footer>
{% endblock %}

{% block customjs %}

<script src="/static/highcharts/js/highcharts.js"></script>
<script src="/static/highcharts/js/modules/funnel.js"></script>
<script>

// Sales funnel
$(function () {
    $('#container_chart_sales_funnel').highcharts({
        chart: {
            type: 'funnel'
        },
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false,
                    align: 'left'
                }
            }
        },
        title: {
            //text: 'Funil de vendas'
            text: ''
        },
        credits: {
            enabled: false
        },
        legend: {
           enabled: false
        },
        tooltip: {
          valueDecimals: 2,
          valuePrefix: 'R$ ',
        },
        plotOptions: {
        series: {
            dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    format: 'R$ {y:,.2f}',
                    distance: -100,
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [{
          name: 'Valor estimado',
          data: {{ opportunity_value_stages|safe }}
        }]
    });
});

// Potential customers
$(function () {
    $('#container_chart_potential_customers').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false,
                    align: 'left'
                }
            }
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Qtd',
            colorByPoint: true,
            data: {{ customers_by_category|safe }}
        }]
    });
});

// Segment by value
$(function () {
    $('#container_chart_segment_by_value').highcharts({
        chart: {
          type: 'bar'
      },
      title: {
          text: ''
      },
      exporting: {
              buttons: {
                  contextButton: {
                      enabled: false,
                      align: 'left'
                  }
              }
          },
      xAxis: {
        labels: {
          enabled: false
        }
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Contas (R$)'
          }
      },
      credits: {
          enabled: false
      },
      legend: {
          enabled: false
      },
      tooltip: {
          pointFormat: 'Valor: <b>R$ {point.y:,.2f} </b>'
      },
      series: [{
          name: 'Segmento',
          data: {{ segments_by_value|safe }},
          dataLabels: {
              enabled: true,
              rotation: -0,
              color: '#FFFFFF',
              align: 'right',
              format: '{point.name}', // one decimal
              y: 0, // 10 pixels down from the top
              style: {
                  fontSize: '10px',
                  fontFamily: 'Verdana, sans-serif'
              }
          }
      }]
    });
});

$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>

{% endblock %}
