{% extends "crm/basemenu.html" %}
{% block title %}Visão Geral{% endblock %}

{% block customcss %}

<link href="/static/css/dashboard.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class"container-fluid">
  <div class="main">
    <h3 class="page-header">Nome da Organização</h3>
    <!-- Panel Indicators -->
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/potenciais.png"/>
              235
              <H6>CLIENTES POTENCIAIS</H6>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/oportunidades.png" />
              85
              <H6>OPORTUNIDADES</H6>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/clientes.png" />
              3500
              <H6>CLIENTES DA BASE</H6>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Painel Activities -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Atividades</h3>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination pagination-sm">
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active">
              <a href="#">1
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="row">
  </div>
</footer>
{% endblock %}
