{% extends "crm/basemenu.html" %}
{% block title %}Visão Geral{% endblock %}

{% block customcss %}

<link href="/static/css/dashboard.css" rel="stylesheet">

{% endblock %}

{% block content %}

{% if organization_active %}
<div class"container-fluid">
  <div class="main">
    <!-- Panel Indicators -->
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/potenciais.png"/>
              {{ customers_potential_count }}
              <H6>CLIENTES POTENCIAIS</H6>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                    <th>Cliente</th>
                    <th>Relevância</th>
                </tr>
                {% for customer_potential in customers_potential_top5 %}
                <tr>
                  <td>{{ customer_potential.name }}</td>
                  <td>{{ customer_potential.relevance }}%</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/oportunidades.png" />
              {{ opportunities_open_count }}
              <H6>OPORTUNIDADES</H6>
            </div>
            <div class="panel-body">
                <table class="table">
                  <tr>
                      <th>Cliente</th>
                      <th>Fase</th>
                      <th>Valor Estimado</th>
                  </tr>
                  {% for opportunity in opportunities_open_top5 %}
                  <tr>
                    <td>{{ opportunity.customer }}</td>
                    <td>{{ opportunity.stage }}</td>
                    <td>{{ opportunity.expected_value|default:"0.00" }}</td>
                  </tr>
                  {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 placeholder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body panel-count">
              <img src="/static/images/clientes.png" />
              {{ customers_base_count }}
              <H6>CLIENTES DA BASE</H6>
            </div>
            <div class="panel-body">
                <table class="table">
                  <tr>
                      <th>Cliente</th>
                      <th>Área de Atuação</th>
                      <th>Relevância</th>
                  </tr>
                  {% for customer in customers_base_top5 %}
                  <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.occupationarea }}</td>
                    <td>{{ customer.relevance }}%</td>
                  </tr>
                  {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end row -->
    <!-- Panel Activity and Chart -->
    <section class="activities">
      <h3 class="page-header">Atividades<br><a href="{% url 'crm:activity-add' %}" id="form_btn_add" class="btn btn-primary btn-xs">Adicionar</a></h3>

      <div class="row">
        <div class="col-xs-12 col-sm-8 placeholder">
          <!-- Activity -->
          {% for my_activity in my_activities %}
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-6 placeholder">
                  <div class="icon-place">
                    {% if my_activity.type_activity == "T" %}
                    <span class="glyphicon glyphicon-phone-alt activity-icon" aria-hidden="true"></span>
                    {% elif my_activity.type_activity == "E" %}
                    <span class="glyphicon glyphicon-envelope activity-icon" aria-hidden="true"></span>
                    {% elif my_activity.type_activity == "V" %}
                    <span class="glyphicon glyphicon-briefcase activity-icon" aria-hidden="true"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-list-alt activity-icon" aria-hidden="true"></span>
                    {% endif %}

                  </div>

                  <div class="activity-text">
                    <p><a href="{% url 'crm:activity-update' my_activity.id %}">{{ my_activity.title }}</a></p>
                    <p>{{ my_activity.description }}</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 placeholder">
                  <div class="activity-controls">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span style="">{{ my_activity.deadline|date:"d/m/Y H:i" }}</span>
                    <a tabindex="{{ forloop.counter }}" style="text-decoration: none;" data-toggle="popover" role="button" data-trigger="focus" data-content="{{ my_activity.details }}">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true" style="vertical-align: middle;"></span>
                    <span style="font-family: arial; color: gray; font-size: x-small; margin-left:5px;">Detalhes</span>
                    </a>
                    {% if my_activity.is_late %}
                    <span class="label label-danger"> Atrasado</span>
                    {% else %}
                    <span class="label label-success">Pendente</span>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}

          <h5 align="right"><a href="{% url 'crm:activity-index' %}"<span class="label label-default">Ver todas</span></a></h5>
        </div>

        <div class="col-xs-12 col-sm-4 placeholder">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body panel-count">
                <div id="container_chart" style="height: 400px; margin: 0 auto"></div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end row -->
    </section>
  </div> <!-- end main -->
</div> <!-- and container -->

{% else %}

{% include 'crm/initialpage.html' %}

{% endif %}

<footer class="footer">
  <div class="row">
  </div>
</footer>
{% endblock %}

{% block customjs %}

<script src="/static/highcharts/js/highcharts.js"></script>
<script src="/static/highcharts/js/modules/funnel.js"></script>
<script>

$(function () {
    $('#container_chart').highcharts({
        chart: {
            type: 'funnel'
        },
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false,
                    align: 'left'
                }
            }
        },
        title: {
            text: 'Funil de vendas'
        },
        legend: {
           enabled: false
        },
        tooltip: {
          valueDecimals: 2,
          valuePrefix: 'R$ ',
        },
        plotOptions: {
        series: {
            dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    format: 'R$ {y:,.2f}',
                    distance: -100,
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [{
          name: 'Valor estimado',
          data: {{ opportunity_value_stages|safe }}
        }]
    });
});   

$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>

{% endblock %}
