{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vendendo | Error</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/menu.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>

    <div class"container-fluid">
      <div class="main">
        <div class="row placeholders">
          <div class="col-xs-12 col-sm-12">
            <section class="section-error">
              <div class="error-flag">
                <img src="/static/images/error_flag.png" >
              </div>
              <h2>Erro!</h2>
              <p>Hum ... Isso não parece certo</p>
              <a href="javascript:window.history.back();" class="btn btn-primary">Done</a>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>
