<div class"container">
  <div class="row">
    <div class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1">
      <h3 class="page-title">Olá, {{ user.first_name }} {{ user.last_name }}!</h3>
      <p>Este é um guia rápido com os principais passos para você começar a usar o Vendendo:</p>
      <br />
      <h4 class="page-title-steps">1) Crie sua organização</h4>
      <div class="well well-sm">
      No Vendendo, todos os seus prospects, clientes, produtos, oportunidades e equipe estarão associados a uma organização.
      <br />
      Crie uma organização para iniciar a configuração do seu ambiente de vendas.
      <br /><br />
      Quando você cria uma organização, seu usuário passa a ser o administrador dela e somente você poderá acessar o menu de administração da organização.
      </div>

      <h4 class="page-title-steps">2) Cadastre seus produtos e serviços</h4>
      <div class="well well-sm">
      Cadastre os produtos e serviços oferecidos pela sua organização.
      </div>

      <h4 class="page-title-steps">3) Defina as etapas da sua venda</h4>
      <div class="well well-sm">
      O Vendendo foi pensado para se adequar ao processo de venda da sua organização. Para isso você deve informar quais são etapas e a ordem em que elas ocorrem no seu processo de venda. Uma vez definidas as etapas, você poderá ver em qual etapa cada oportunidade sua está, assim como qual delas estão próximas de serem concluídas.
      </div>

      <h4 class="page-title-steps">4) Convide seus vendedores</h4>
      <div class="well well-sm">
      Uma vez criada a sua organização, definidos os produtos, serviços e as fases de sua venda, convide seus vendedores, para que eles possam começar a registrar oportunidades de vendas para a sua organização.
      </div>

      <h4 class="page-title-steps">5) Registre suas oportunidades</h4>
      <div class="well well-sm">
      Você e seus vendedores já podem registrar oportunidades de venda.
      <br />
      Para registrar uma oportunidade de venda você deve:
      <ul>
        <li>Cadastre o cliente da oportunidade ou selecione-o</li>
        <li>Selecione a etapa da oportunidade</li>
        <li>Informe o valor e o mês em que estimada concretizar a oportunidade</li>
        <li>Informe os produtos e servições que envolvem a oportunidade</li>
      </ul>
      </div>

      <h4 class="page-title-steps">6) Programe e atualize atividades</h4>
      <div class="well well-sm">
      Registre as atividades que você está executando em cada oportunidade. Você pode programar atividades para lembrá-lo de ligar para um cliente, de enviar uma proposta no prazo combinado ou para apenas registrar um contato feito com o cliente.
      </div>

      <h4 class="page-title-steps">7) Acompanhe tudo pela visão geral</h4>
      <div class="well well-sm">
      Através do painel de Visão Geral, acompanhe a evolução de suas vendas, as atividades e oportunidade de seus vendedores. No painel de Visão Geral você terá informações e indicadores importantes sobre o processo de vendas da sua organização.
      </div>
    </div>
  </div>
</div>
