{% extends "crm/basemenu.html" %}
{% block title %}Vendendo | Mensagens e Convites{% endblock %}

{% block customcss %}

<link href="/static/css/organization.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class"container-fluid">
  <div class="main">
    <h3 class="page-header">Mensagens e Convites</h3>

    <!-- Panel Indicators -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
      {% if my_messages %}
        <table class="table">
          {% for my_message in my_messages %}
          <tr>
            <td style="font-size: 3.0em !important; color:silver; text-align:center;">
              {% if my_message.status_active == 'N' %}
              <i class="glyphicon glyphicon-question-sign"></i>
              {% elif  my_message.status_active == 'A' %}
              <i class="glyphicon glyphicon-ok-sign"></i>
              {% elif  my_message.status_active == 'I' %}
              <i class="glyphicon glyphicon-remove-sign"></i>
              {% endif %}
            </td>
            <td>
              {% if my_message.status_active == 'N' %}
                Você foi convidado(a) pela Organização [<strong>{{ my_message.organization.name }}</strong>] para ser um de seus vendedores.
                <br />Aceita o convite?
                <br><br>
                <div style="float:left;margin-right: 5px;"> 
                <form action="{% url 'crm:invitemessage-activate' my_message.code_activating %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Aceitar convite">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  </button>
                </form>
                </div>
                <div> 
                <form action="{% url 'crm:invitemessage-leave' my_message.code_activating %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Recusar convite">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                  </button>
                </form>
                </div>
              {% elif  my_message.status_active == 'A' %}
                Você agora é um(a) vendedor(a) da Organização [<strong>{{ my_message.organization.name }}</strong>] !
                <br>
                <br>
                <div> 
                <form action="{% url 'crm:invitemessage-leave' my_message.code_activating %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-xs">Sair da organização</button>
                </form>
                </div>
              {% elif  my_message.status_active == 'I' %}
                Seu registro de vendedor(a) na Organização [<strong>{{ my_message.organization.name }}</strong>] foi <strong>INATIVADO</strong>!
                <br>
                <br>
                <div> 
                <form action="{% url 'crm:invitemessage-leave' my_message.code_activating %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-xs">Sair da organização</button>
                </form>
                </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p><i>Você não possui convites</i></p>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block customjs %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
