{% extends "crm/basemenu.html" %}
{% block title %}Vendendo | Minhas Organizações{% endblock %}

{% block customcss %}

<link href="/static/css/organization.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class"container-fluid">
  <div class="main">
    <h3 class="page-header">Minhas Organizações</h3>

    <!-- Panel Indicators -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <p>
          <a href="javascript:location.href='/dashboard/';" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Dashboard</a>
          <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nova Organização</a>
        </p>
        <table class="table">
          {% for my_organization in my_organizations %}
          <tr>
            <td class="action-column"><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            <td><a href="#">{{ my_organization.organization.name }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
