{% extends "crm/basemenu.html" %}
{% block title %}Vendendo | Oportunidades{% endblock %}

{% block customcss %}

<link href="/static/css/organization.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class"container-fluid">
  <div class="main">
    <h3 class="page-header">Oportunidades
        <br>
            <a href="{% url 'crm:opportunity-add' %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar</a>
        </br>
    </h3>

    <!-- Panel Indicators -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <table class="table">
            <th></th>
            <th>Cliente</th>
            <th>Descrição</th>
            <th>Etapa</th>
            <th>Valor</th>
          {% for my_opportunity in my_opportunities %}
          <tr>
            <td class="action-column">
              <form action="{% url 'crm:opportunity-delete' my_opportunity.id %}" method="post">
              {% csrf_token %}
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </form>
            </td>
            <td><a href="{% url 'crm:opportunity-update' my_opportunity.id %}">{{ my_opportunity.customer.name }}</a></td>
            <td>{{ my_opportunity.description_opportunity }}</td>
            <td>{{ my_opportunity.stage.name }}</td>
            <td>{{ my_opportunity.expected_value|default:"0,00" }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
