body {
    /*background-color: #EEEEEE;*/
    /*background-color: #f1f6f9;*/
    background-color: #ffffff;
    padding-top: 70px;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.placeholders {
  margin-bottom: 0px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 0px;
}
.placeholder img {
  display: inline-block;
}
.pagination {
  float:right;
}
.table{
  background-color: #f1f6f9;
}
th {
  background-color: #F6F6F6;
  text-align: center;
}
.row-dashboard{
  padding: 0px;
}
.panel-count{
  font-size: 48px;
  font-weight: bold;
}

/* Panel Activity */

.activities .panel-group {
  margin-bottom: 8px;
}

.activities .activity-icon {
  font-size: 2.2em !important;
  margin-right: 20px;
}

.activities .icon-place {
  float: left;
}

.activities .activity-text {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: silver;
  padding-right: 30px;
}

.activities .activity-text a{
  font-family: arial;
  font-size: medium;
}

.activities .activity-text p{
  font-family: arial;
  font-weight: normal;
  font-size: x-small;

}

.activities .activity-controls {

}

.activities .activity-controls .glyphicon {
  vertical-align: middle;
  font-family: 'Glyphicons Halflings';
  color: gray;
  font-size: medium;
  margin-left:5px;
  color: #333;
}

.activities .activity-controls span {
  font-family: arial;
  color: gray;
  font-size: x-small;
  margin-left:5px;
}

.activities .activity-controls .label {
  color: #fff;
  font-weight: normal;
}

/* INITIAL PAGE */

.page-title {
  padding: 0px;
  font-size: 30px;
  /*letter-spacing: -1px;*/
  display: block;
  color: #666;
  margin: 20px 0px 15px 0px;
  font-weight: 300;
}

.page-title-steps {
  padding: 0px;
  /*letter-spacing: -1px;*/
  display: block;
  margin: 20px 0px 15px 0px;
  font-weight: 300;
}
