.table td {
    text-align: left;
}

.table .action-column {
    max-width: 23px;
}

.table .action-column div {
    float:left;
    margin: 2px;
}

.user-img {
    float: left;
    margin-right: 20px;
}