body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-redefinepwd {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-redefinepwd .form-redefinepwd-heading {
  margin-bottom: 10px;
}
.form-redefinepwd .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-redefinepwd .form-control:focus {
  z-index: 2;
}
.form-redefinepwd input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-align {
  text-align: center;
  margin-top: 50px;
}
.msg-error {
  text-align: center;
  margin-top: 100px;
}
.msg-success {
  text-align: center;
  margin-top: 100px;
}

