<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="CRM opensource" />
    <meta name="description" content="VendendoCRM - CRM OpenSource">
    <meta name="author" content="M2IS">

    <title>VendendoCRM - CRM OpenSource</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/favicon.png">
    <!--
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
    -->
    <!-- Google Webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/landingpage/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/landingpage/style.css">
    <link rel="stylesheet" href="/static/js/landingpage/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="/static/js/landingpage/owl-carousel/owl.theme.css" />
    <link rel="stylesheet" href="/static/css/landingpage/flexslider.css"/>
    <link rel="stylesheet" href="/static/css/landingpage/prettyphoto.css"/>

    <!-- Add custom CSS here -->
    <link href="/static/css/landingpage/custom.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="./js/html5shiv.js"></script>
          <script src="./js/respond.js"></script>
    <![endif]-->

    <!-- Modernizer -->
    <script src="/static/js/landingpage/modernizr.custom.js"></script>

</head>
<body>

<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/"><img class="brand" alt="Vendendo" src="/static/images/vendendo_logo_verde_escuro.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#pre_resources">Recursos</a></li>
                <li><a href="#cinfo">Contato</a></li>
                <li><a href="/login/"><button class="btn btn-6 btn-7a" style="
    margin-top: -6px;">Entrar</button></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Header -->

<!-- top Content -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="top-message">
                    <h1>Vendendo <br>CRM</h1>
                    <h3>Controle de vendas simples e eficiente</h3>
                    <hr class="top-divider">
                    <br>
                    <p>Uma ferramenta de gestão de vendas gratuita desenvolvida para pequenas equipes de vendas que necessitam de um produto inteligente e consistente.</p>
                    <ul class="list-inline top-buttons">
                        <li><a href="/newuser/"><button class="btn1 btn-7 btn-7a">Cadastre-se</button></a></li>
                        <li><a href="#pre_resources" class="lmore"><i class="fa fa-arrow-circle-o-right fa-fw"></i> <span>Saiba mais</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li><img src="/static/images/landingpage/slide/1.png" alt="" /></li>
                        <li><img src="/static/images/landingpage/slide/2.png" alt="" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- top Content -->

<!-- Welcome Content -->
<div class="section text-center welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Simples &amp; intuitivo, porque sistemas CRM não precisam ser complexos</h2>
                <p>Utilize uma ferramenta desenvolvida para descomplicar o processo de vendas e potencializar a qualificação de seus clientes e a conversão de suas oportunidades.</p>
                <!--
                <div class="cl-effect-2 btn2">
                    <a href="#"><span data-hover="Scroll for more">Check more features</span></a>
                </div>
                -->
                <hr id="pre_resources">
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- Welcome Content -->

<!-- Services -->
<div id="resources" class="services">
    <div class="container">
        <div class="row">

            <!-- Service - 1 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-tasks"></i>
                    <h4>Organize suas atividades</h4>
                    <p>Planeje suas ações e tenha a visibilidade das atividades de seu time. Não perca mais negócios devido a atrasos.</p>
                </div>
            </div>

            <!-- Service - 2 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-bar-chart"></i>
                    <h4>Gerencie suas vendas agora mesmo</h4>
                    <p>Acompanhe tudo sobre os seus negócios com uma dashboard inteligente e intuitiva.</p>
                </div>
            </div>

            <!-- Service - 3 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-users"></i>
                    <h4>Converta seus leads em clientes</h4>
                    <p>Qualifique seus clientes para gerar novas oportunidades e aumente seu poder de venda.</p>
                </div>
            </div>

            <!-- Service - 4 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-hand-spock-o"></i>
                    <h4>Sua equipe mais produtiva</h4>
                    <p>Através de práticas simples, mas poderosas, expanda seu negócio em pouco tempo. Organize seus dados e estabeleça um processo repetitível.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Services -->

<!-- Welcome Content -->
<div class="section text-center welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sim, nós somos open source!</h2>
                <p>O Vendendo foi criado para ser aberto e gratuito. Nosso objetivo é fornecer uma ferramenta acessível a todos e que cresça com a colaboração de usuários e desenvolvedores.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- Welcome Content -->


<!-- Info Content -->
<div class="wrap-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" style="margin-top: 60px;">
                <a href="https://apoia.se/vendendocrm"><img class="img-responsive" src="/static/images/landingpage/apoia-se.png" alt=""></a>
            </div>
            <div class="col-lg-5">
                <hr class="heading-spacer">
                <div class="clearfix"></div>
                <h2>Apoie o Vendendo</h2>
                <p class="lead">Apoie o Vendendo e contribua para mantê-lo uma ferramenta 100% gratuita. <a href="https://apoia.se/vendendocrm">Clique aqui para saber como</a>.</p>
            </div>
        </div>
    </div>
<!-- /.container -->
</div>
<!-- Info Content -->

<!-- Contact info -->
<div class="cinfo" id="cinfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="contact-info">
                    <li><i class="fa fa-envelope"></i> vendendocrm@m2is.com.br</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-inline cinfo-social-buttons">
                    <li><a href="http://twitter.com/vendendocrm" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a></li>
                    <li><a href="https://www.facebook.com/Vendendo-CRM-1821057294879669/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a></li>
                    <li><a href="http://www.youtube.com/channel/UCzotKDjwHxykwGmv8TstxhA" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- Contact info -->

<!-- Footer Content -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>VendendoCRM 1.0</li>
                    <li>&sdot;</li>
                    <li>Criado por <a href="https://twitter.com/isissoledad" target="_blank">Isis Soledad</a> e <a href="https://twitter.com/msantosgnu" target="_blank">Marcus Santos</a></li>
                </ul>
                <ul class="list-inline">
                    <li>VendendoCRM is licensed under the <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html" target="_blank">GPLv2</a></li>
                    <li>&sdot;</li>
                    <li><a href="https://github.com/M2IS/vendendo" target="_blank">GitHub Project</a></li>
                    <li>&sdot;</li>
                    <li><a href="https://github.com/M2IS/vendendo/issues" target="_blank">issues</a></li>
                </ul>
                <ul class="list-inline">
                    <li><a href="http://www.m2is.com.br" target="_blank">M2IS | Software</a> é a entidade jurídica dos criadores deste projeto</li>
                </ul>
                <p class="copyright text-center medium">Copyright &copy; <a href="http://www.vendendo.com">Vendendo</a> 2017. Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Content -->

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/landingpage/jquery.prettyphoto.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/landingpage/owl-carousel/owl.carousel.js"></script>
<script src='/static/js/landingpage/jquery.easing.1.3.js'></script>
<script src="/static/js/landingpage/jquery.flexslider.js"></script>
<script src="/static/js/landingpage/main.js"></script>

</body>
</html>
